@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Employee Benefits allows a company to calculate employee deductions for each employee.
    </p>

    <p>
        This web site was created by Wade Harvey. 
    </p>

    
</article>

<aside>
    <h3>Important Links</h3>
    <p>
        Click these links to get started now.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Employee List", "Index", "Employee")</li>

    </ul>
</aside>